.mySlider {
	display: block;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	width: 1140px;
	max-width: 100%;
}

.slideEffect .slideInner {
	display: flex;
	position: relative;
	transition: all .5s ease-out;
}

.slideEffect .slide {
	position: relative;
}

.fadeEffect .slide {
	position: absolute;
	top: 0;
	opacity: 0;
	transition: all .5s ease-in;
}

.fadeEffect .slide:first-child {
	position: relative;
	opacity: 1;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px 0;
	color: #999;
}

.controls span {
	transition: all .3s ease-out;
}

.controls svg {
	cursor: pointer;
	margin: .3em;
	width: .5em !important;
}

.mySlider>.left, .mySlider>.right {
	position: absolute;
	opacity: 0;
	top: calc(50% - .5em);
	z-index: 15;
	font-size: 3em;
	cursor: pointer;
	width: 1em;
	height: 1em;
	transition: opacity .2s .1s ease-in-out;
	border-radius: 50%;
	background-color: rgba(255,255,255,.4);
	color: #222;
	text-align: center;
}

.mySlider:hover>.left, .mySlider:hover>.right {
	opacity: 1;
}

.mySlider>.left:active, .mySlider>.right:active, .controls span:active {
  transform: translateY(2px);
}

.left {
	left: 0;
}

.right {
	right: 0;
}